/* MAIN APP CONTAINER  */
#main {
    margin-left:280px ;
    transition: all 0.5s;
}

#main.collapsible {
    margin-left:100px ;
    transition: all 0.5s;
}

/* DASHBOARD  */


/* TRADES */
.details-top {
    background-color: var(--tertiary-50);
}

.options {
    display: flex;
    gap: 20px;
    display: inline-flex;
    display: -webkit-flex;
}

.options .option-item {
    padding: 12px 30px;
}

.options .option-item.active-item {
    color: var(--primary-500);
    position: relative;
    font-weight: 700;
}

.options .option-item.active-item::after {
    content: "";
    background-color: var(--primary-500);
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px 5px 0px 0px;
}

/* Transaction payment Details  */
.payment-details {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* DASHBOARD  */
.analytics {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.extended-card.transactions {
    grid-column: 1 / span 2;
}

.extended-card.payments {
    grid-column: 3 / span 2;
}

.data-card {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: end;
}

.list-applicants {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .list-applicants h6 {
    font-weight: 400;
    font-size: 14px;
    color: var(--gray-400);
  }

  .list-applicants h6 .number {
    color: var(--gray-900);
    font-weight: 500;
  }

  .applicant-type {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    gap: 3px;
    align-items: center;
  }
