/* MAIN APP CONTAINER  */
#main {
    margin-left:280px ;
    transition: all 0.5s;
}

#main.collapsible {
    margin-left:100px ;
    transition: all 0.5s;
}

/* DASHBOARD  */


/* TRADES */
.details-top {
    background-color: var(--tertiary-50);
}

.options {
    display: flex;
    gap: 20px;
    display: inline-flex;
    display: -webkit-flex;
}

.options .option-item {
    padding: 12px 30px;
}

.options .option-item.active-item {
    color: var(--primary-500);
    position: relative;
    font-weight: 700;
}

.options .option-item.active-item::after {
    content: "";
    background-color: var(--primary-500);
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px 5px 0px 0px;
}

/* Transaction payment Details  */
.payment-details {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}